@tailwind base;
@tailwind components;
@tailwind utilities;
 





@layer base {
  :root {
    --background: 0, 0%, 6%;
    --foreground: 300, 5%, 11%;
 
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 45.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
 
    --primary: 	#059fff;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 63.9%;
 
    --radius: 0.5rem;
  }
 
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-white;
  }
}

body {
  margin: 0 !important;
}
html {
  background-color: var(--background);
  scroll-behavior: smooth;
  color: white;
}

.nav-index {
  z-index: 10;
}
.art-modal-index {
  z-index: 20;

}

.full {
  width: 100%;
  height: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Styling the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #666; /* Set the color of the thumb */
  border-radius: 55px; /* Round the corners of the thumb */
}

/* Styling the scrollbar track when it's in a "hover" state */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color on hover */
}